@import url("https://fonts.googleapis.com/css?family=Roboto:300,500");
@import "./reset.module.css";

* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/mountains-sky-stars.jpg");
  background-image: linear-gradient(
      rgba(16, 46, 86, 0.8),
      rgba(24, 76, 147, 0.9)
    ),
    url("../assets/mountains-sky-stars.jpg");
  background-color: #0d1013;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.me__contact {
  margin: 30px 12px;
}

.me__contact a,
.me__contact a:link,
.me__contact a:visited {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 300ms ease 80ms;
}

.me__contact a:hover {
  color: white;
}

.me__contacts,
.me__name,
.me__role {
  display: none;
}

.me__contacts {
  justify-content: center;
}

@media all and (min-device-height: 560px) {
  .me__contacts {
    display: flex;
  }
}

.me__disclaimer {
  font-size: 11px;
  line-height: 16px;
  position: fixed;
  right: 0;
  bottom: 16px;
  left: 0;
  text-align: center;
}

.me__name {
  font-size: 24px;
  font-weight: 500;
}

@media all and (min-device-height: 560px) {
  .me__name,
  .me__role {
    display: block;
  }
}

.me__name a,
.me__name a:link,
.me__name a:visited {
  color: white;
  text-decoration: none;
}

.me__role {
  margin-top: 10px;
}

.optOut {
  display: inline;
  text-decoration: underline;
}

.optOut:hover {
  cursor: pointer;
}

.space__camera {
  /* background-image: url('../assets/camera.svg'); */
}

.space__kite {
  background-image: url("../assets/kite.svg");
}

.space__object {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.space__object:nth-of-type(1) {
  animation: fadeInLeft 6s -4s ease-in-out infinite alternate;
}

.space__object:nth-of-type(2) {
  animation: fadeInLeft 6s 0s ease-in-out infinite alternate;
}

.space__object:nth-of-type(3) {
  animation: fadeInLeft 6s ease-in-out 4s infinite alternate;
}

.space__object:nth-of-type(4) {
  animation: fadeInLeft 6s ease-in-out 8s infinite alternate;
}

.space__object:nth-of-type(5) {
  animation: fadeInLeft 6s ease-in-out 12s infinite alternate;
}

.space__object,
.space__stars {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 124px;
  height: 124px;
  margin-left: -62px;
  position: absolute;
  top: 46px;
  left: 50%;
  width: 124px;
}

.space__pencil {
  background-image: url("../assets/pencil.svg");
  background-size: 68px;
}

.space__planet {
  background-image: url("../assets/planet.svg");
}

.space__signature {
  background-image: url("../assets/signature.svg");
  background-size: 100px;
}

.space__stars {
  background-image: url("../assets/stars.svg");
  background-size: 200px;
  height: 200px;
  margin-left: -100px;
  top: 70px;
  width: 200px;
}

.space__sun {
  background-image: url("../assets/sun.svg");
}

.space__theme {
  height: 280px;
  margin: 30px auto;
  text-indent: -9999px;
  width: 280px;
}

.space__wrapper {
  height: 100vh;
  margin: 0 auto;
  padding-top: 320px;
  overflow: auto;
  text-align: center;
  min-width: 320px;
  width: 60%;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  66% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  75% {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}
